.searchBar {
    width: 100%;
    max-width:700px;
    margin: 10px auto;
    padding:15px 20px;
    border: none;
    border-radius: 12px;
    background-color: #555555;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.searchBar::placeholder {
    color: #bbb;
}

@media (max-width: 600px) {
    .searchBar {
        width: 90%;
        padding: 8px 15px;
        font-size: 14px;
    }
}
